<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>AR - Labs</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static "PayApp/calendar.css" %}"> -->
    <link href="{% static "PayApp/assets/dist/css/bootstrap.css" %}" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="{% static "PayApp/img/bg-img/logo1.jpg" %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static "PayApp/styles.css" %}">
    <link rel="stylesheet" href="{% static "PayApp/button.css" %}">


</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area d-flex justify-content-between align-items-center">
            <div class="contact-info">
              <a href="#">Reach Us At : </a>
              <a href="http://www.elixarsystems.com/arscience.html"> kalam-labs@elixarsystems.com</a>
            </div>
            <!-- <div class="follow-us">
                <span>Follow us</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div> -->
        </div>

        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav style="float:right" class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    <a class="nav-brand"  href="index.html"><img width="50px" src="{% static "PayApp/img/bg-img/logo1.jpg" %}" alt=""></a>
                    <img src="{% static "PayApp/img/bg-img/header.png" %}" alt="">
                    <a href="blog/">
                      <img style="float: left" style="position: relative"
                       src="{% static "PayApp/img/bg-img/header1.png" %}" alt="">
                      </a>
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                      
                        <img src="{% static "PayApp/img/bg-img/header.png" %}" alt="">
                      
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                           

                           
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section >
        <div class="container">

        <div class="container h-100"  >

            <div class="row h-100 align-items-center">

                <div class="col-12" >
  <img class="bd-placeholder-img" width="1200px" src= "{% static "PayApp/img/bg-img/main.png" %}" alt="jghgj">
  <div class="col" style="padding-top:10px;">
    <div class="row">
        <!-- Single Popular Course -->
        <div class="col-12 col-md-6">
            <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                <!-- <img src="{% static "PayApp/img/bg-img/c1.jpg" %}" alt=""> -->
                <!-- Course Content -->
                <div class="course-content">
                    <h4>Conquere</h4>
                    <div class="meta d-flex align-items-center">
                        <a href="#">The Scientific Conqueror</a>
                    </div>
                    <p>An AR based Practical Imagination Implementation Course </p>
                </div>
                <!-- Seat Rating Fee -->
                <div class="seat-rating-fee d-flex justify-content-between">
                    <div class="course-fee">
                        <a href="FreeTrial/">Trial Version</a>
                    </div>
                    <div class="course-fee h-100">
                      <a href="Conquere/RegisterPayment/" class="free">Buy Now</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                <!-- <img src= "{% static "PayApp/img/bg-img/c2.jpg" %}" alt=""> -->
                <!-- Course Content -->
                <div class="course-content">
                    <h4>Explorer</h4>
                    <div class="meta d-flex align-items-center">
                        <a href="#">The Scientific Explorer</a>
                    </div>
                    <p>An AR based Practical Imagination Foundation Course </p>
                </div>
                <!-- Seat Rating Fee -->
                <div class="seat-rating-fee d-flex justify-content-between">
                    <div class="course-fee h-100">
                        <a href="FreeTrial/">Trial</a>
                    </div>
                    <div class="course-fee h-100">
                      <a href="Explorer/RegisterPayment/" class="free">Buy Now</a>
                  </div>
                </div>
            </div>
        </div>
    
                    </div>

                   
                </div>
            </div>
        </div>
        </div>
    </section>
    <hr class="featurette-divider">
    <!-- ##### Hero Area End ##### -->
    <section >
        <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading fadeInUp" data-wow-delay="250ms">
                    <h3 class="fadeInUp" data-wow-delay="250ms">Meet Our HOD</h3>
                </div>
            </div>
        </div>
      <div class="container h-100"  >

          <div class="row h-100 align-items-center">

              <div class="col-12" >
<img class="bd-placeholder-img wow fadeInLeft" data-wow-delay="750ms" width="1200px" src= "{% static "PayApp/img/bg-img/mathur.png" %}" alt="jghgj">

                 
              </div>
          </div>
      </div>
        </div>
  </section>

  <hr class="featurette-divider">


  <section >


    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>The Best Tutors in Town</h3>
                </div>
            </div>
        </div> -->

    <div class="container h-100"  >

        <div class="row h-100 align-items-center">

            <div class="col-12" >
<img class="bd-placeholder-img wow fadeInLeft" data-wow-delay="750ms" width="1200px" src= "{% static "PayApp/img/bg-img/50.png" %}" alt="jghgj">

               
            </div>
        </div>
    </div>
    </div>
    
</section>
  

    <!-- ##### Best Tutors Start ##### -->
    <section class="best-tutors-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>The Best Tutors in Town</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="tutors-slide owl-carousel wow fadeInUp" data-wow-delay="250ms">

                        <!-- Single Tutors Slide -->
                        <div class="single-tutors-slides">
                            <!-- Tutor Thumbnail -->
                            <div class="tutor-thumbnail">
                                <img src="{% static "PayApp/img/bg-img/phi.png" %}" alt="">
                            </div>
                            <!-- Tutor Information -->
                            <div class="tutor-information text-center">
                                <h5>Harshit Awasthi</h5>
                                <span>Co - Founder</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum laoreet elit, sit amet tincidunt mauris ultrices vitae.</p>
                                <div class="social-info">
                                    <a href="https://www.linkedin.com/in/harshit016/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <!-- <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
                                </div>
                            </div>
                        </div>

                        <!-- Single Tutors Slide -->
                        <div class="single-tutors-slides">
                            <!-- Tutor Thumbnail -->
                            <div class="tutor-thumbnail">
                                <img src="{% static "PayApp/img/bg-img/phi.png" %}" alt="">
                            </div>
                            <!-- Tutor Information -->
                            <div class="tutor-information text-center">
                                <h5>Sashakt Tripathi</h5>
                                <span>Co - Founder</span>
                                <p>JEE AIR 560, KVPY Scholar, NTSE Scholar, Only Person in History to score full marks in Resonance Entrance Test.</p>
                                <div class="social-info">
                                    <a href="https://www.linkedin.com/in/sashakt-tripathi/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <!-- <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
                                </div>
                            </div>
                        </div>

      
                        <!-- Single Tutors Slide -->
                        <div class="single-tutors-slides">
                            <!-- Tutor Thumbnail -->
                            <div class="tutor-thumbnail">
                                <img src="{% static "PayApp/img/bg-img/phi.png" %}" alt="">
                            </div>
                            <!-- Tutor Information -->
                            <div class="tutor-information text-center">
                                <h5>Ahmed Faraaz</h5>
                                <span>Co - Founder</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum laoreet elit, sit amet tincidunt mauris ultrices vitae.</p>
                                <div class="social-info">
                                    <a href="https://www.linkedin.com/in/ahmad-faraaz/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <!-- <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Best Tutors End ##### -->

    <!-- ##### Register Now End ##### -->

    <!-- ##### Upcoming Events Start ##### -->
    <section class="upcoming-events section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>An StartUp Trusted By</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <img class="bd-placeholder-img" width="1200px" src= "{% static "PayApp/img/bg-img/iit.png" %}" alt="jghgj">

                <!-- Single Upcoming Events -->
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- <div class="single-upcoming-events mb-50 wow fadeInUp" data-wow-delay="250ms">
                        
<img class="bd-placeholder-img" width="1200px" src= "{% static "PayApp/img/bg-img/iit.png" %}" alt="jghgj">
                    </div> -->
                </div>

                <!-- Single Upcoming Events -->
            </div>
        </div>
    </section>
    <!-- ##### Upcoming Events End ##### -->

    <footer class="footer-area">
        <!-- Top Footer Area -->
        <div class="top-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Footer Logo -->
                        <div class="col-12">
                          <div class="section-heading">
                              <h3 style="color: aliceblue;">Kalam Labs</h3>
                          </div>
                      </div>
                        <p><a href="#">
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Elixar Solutions</a></p>
                    </div>
                </div>
            </div>
        </div>
      
        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="#">Reach Us At : </a>
                <a href="http://www.elixarsystems.com/arscience.html"> kalam-labs@elixarsystems.com</a>
            </div>
            <!-- Follow Us -->
            <!-- <div class="follow-us">
                <span>Follow us</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div> -->
        </div>
      </footer>
    


    <!-- jQuery-2.2.4 js -->
   <!-- jQuery-2.2.4 js -->
 <script src="{% static "PayApp/js/jquery/jquery-2.2.4.min.js" %}"></script>
 <!-- Popper js -->
 <script src="{% static "PayApp/js/bootstrap/popper.min.js" %}"></script>
 <!-- Bootstrap js -->
 <script src="{% static "PayApp/js/bootstrap/bootstrap.min.js" %}"></script>
 <!-- All Plugins js -->
 <script src="{% static "PayApp/js/plugins/plugins.js" %}"></script>
 <!-- Active js -->
 <script src="{% static "PayApp/js/active.js" %}"></script>
</body>

</html>