<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
	<title>Trial - Kalam Labs</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static "PayApp/images/icons/favicon.ico" %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "PayApp/vendor/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "PayApp/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "PayApp/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "PayApp/vendor/animate/animate.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "PayApp/vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "PayApp/vendor/animsition/css/animsition.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "PayApp/vendor/select2/select2.min.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "PayApp/vendor/daterangepicker/daterangepicker.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "PayApp/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "PayApp/loginTrial.css" %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
        
		<div class="container-login100" style="background-image: url('{% static "PayApp/images/bg-01.jpg" %}');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <h3 class="login100-form-title">Choose a Google Meet</h3>
                    <br>
                
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FKolkata&amp;src=cGF0aGFrLnNocmFkaGV5MTAwOEBnbWFpbC5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=bXRjZzB1czBwNzA4dG1mN2s3aWU2aWw1N2tAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=Y2xhc3Nyb29tMTE1MzUzODA2Njk5MTkxOTg3NDMyQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=Y2xhc3Nyb29tMTAxNjAzMjU0NTAzOTU3MjU2OTIxQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y2xhc3Nyb29tMTA4MzAzMzIzNDA2MjI2MDY0MjA3QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=ZWppY2JrMzEzNGdua2dhcHQ3Y2VlaTRobTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%23795548&amp;color=%230047a8&amp;color=%23c26401&amp;color=%230B8043&amp;color=%23007b83&amp;color=%23616161" style="border:solid 1px #777" width="500" height="500" frameborder="0" scrolling="no"></iframe>
                    <div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							<a href="../" style="color: aliceblue;" style="font: 200px;">Confirm Meet</a>
						</button>
                    </div>
                </div>
            
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static "PayApp/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "PayApp/vendor/animsition/js/animsition.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "PayApp/vendor/bootstrap/js/popper.js" %}"></script>
	<script src="{% static "PayApp/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "PayApp/vendor/select2/select2.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "PayApp/vendor/daterangepicker/moment.min.js" %}"></script>
	<script src="{% static "PayApp/vendor/daterangepicker/daterangepicker.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "PayApp/vendor/countdowntime/countdowntime.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "PayApp/js/main.js" %}"></script>

</body>
</html>