<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>AR - Labs</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static "PayApp/calendar.css" %}"> -->
    <link href="{% static "PayApp/assets/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="{% static "PayApp/img/bg-img/logo1.jpg" %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static "PayApp/styles.css" %}">
    <link rel="stylesheet" href="{% static "PayApp/button.css" %}">
    <link rel="stylesheet" href="{% static "PayApp/mainpage.css" %}">


</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>


    <!-- <header class="header-area"> -->

    <!-- Top Header Area -->
    <!-- <div class="top-header-area d-flex justify-content-between align-items-center">
            <div class="contact-info">
              <a href="#">Reach Us At : </a>
              <a href="http://www.elixarsystems.com/arscience.html"> kalam-labs@elixarsystems.com</a>
            </div> -->
    <!-- <div class="follow-us">
                <span>Follow us</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div> -->
    <!-- </div> -->
    <div class="bookbox">
        <div class="row">
            <div class="logok col-sm-2">
                <img src="{% static "PayApp/assets/klab.png" %}" alt="">
            </div>
            <div class="internatacc col-sm-4">Internationally Acclaimed Indian Award winning Indian Educational
                Solution.
            </div>
            <div class="freebook col-sm-3 offset-sm-1">
                <a href="FreeTrial/">
                    <div class="freebookcon" style="color:aliceblue; text-align: center; font-family: Nunito;
                font-style: normal;
                font-weight: 500;
                
                font-size: 50px;
                line-height: 50px;"><img style="float: left" style="position: relative"
                       src="{% static "PayApp/img/bg-img/header1.png" %}" alt="">
                    </div>
                </a>
            </div>

        </div>
    </div>

    <!-- <div class="jumbotron"> -->
    <div class="bggirl">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 compo2">
                    <div class="card" style="width: 18rem; background-color:#f6feff;">
                        <img src="{% static "PayApp/img/bg-img/phi.png" %}" class="card-img-top" alt="Explorer">
                        <div class="card-body">
                            <h5 class="card-title">Science Explorer</h5>
                            <p class="card-text">An Augmented Reality based Practical Imagination Foundation Course</p>
                            <a type="button" href="FreeTrial/" class="btn btn-outline-dark btn-sm">Book a Free Trial</a>
                            <a type="button" href="Explorer/RegisterPayment/" class="btn btn-outline-dark btn-sm">Buy
                                Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 compo1">
                    <div class="card card-" style="width: 18rem; background-color:#f6feff;">
                        <img src="{% static "PayApp/img/bg-img/epsilon.png" %}" class="card-img-top" alt="Explorer">
                        <div class="card-body">
                            <h5 class="card-title">Engineering Conquerer</h5>
                            <p class="card-text">An Augmented Reality based Practical Imagination Foundation Course</p>
                            <a type="button" href="FreeTrial/" class="btn btn-outline-dark btn-sm">Book a Free Trial</a>
                            <a type="button" href="Conquere/RegisterPayment/" class="btn btn-outline-dark btm-sm">Buy
                                Now</a>
                        </div>
                    </div>
                </div>
                <div class="pract">
                    The Practical Way
                </div>
            </div>
            <div class="achieve1">
                ‘Innovation of the Year 2019’ - IISc Bangalore
            </div>
            <div class="achieve2">
                ‘Top 10 International Innovation’ - Government of Finland ( Finland has best Educational System)
            </div>
            <div class="achieve3">
                ‘Under 10 Undergraduate Innovation’ - Government of India - Department of Science Technology IIGP2.0
            </div>
        </div>
    </div>

    <div class="container" >
        <!-- <div class="wow fadeInUp" data-wow-delay="550ms"> -->

        
        <div class="hod">
        </div>
        <div class="hod-header-body">

        </div>
        <div class="hod-header">
            Anuradha Mathur HOD - Kalam Labs
        </div>
        <div class="hod-content">
            Mrs Anuradha Madhur is one of the most celebrated Physisicts in India. She has been core authors of Physics
            NCERT Textbooks of Class 11th and 12th. She has previously taught at Harvard University, USA and ex- HOD
            Physics NCERT. At Kalam Labs, she guides students across Globe to Study Science Experimentally.
        </div>
    <!-- </div> -->
    </div>

    <div class="container">
        <div class="ampbg">
        </div>
        <div class="marks50">
            50%
        </div>
        <div class="marks50" style="
    top: 2040px;
    left: 843px;
">
            More Marks
        </div>
        <div class=marks50-content>
            In a Scientific Studey Conducted by NCERT, the Students who taughbt with AR, achieved more marks than who
            studied just through Books
        </div>
    </div>



     
    <div class="container">
        <div class="knowus">
            <section class="upcoming-events section-padding-100-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h3>A StartUp Trusted By</h3>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <img class="bd-placeholder-img" width="1200px" src= "{% static "PayApp/img/bg-img/iit.png" %}" alt="jghgj">
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="container">
        <footer class="footer-area">
        <div class="kalam">
            <div class="top-footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Footer Logo -->
                            <div class="col-12">
                              <div class="section-heading">
                                  <h3 style="color: aliceblue;">Kalam Labs</h3>
                              </div>
                          </div>
                            <p><a href="#">
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Elixar Solutions</a></p>
                        </div>
                    </div>
                </div>
            </div>
          
            <!-- Bottom Footer Area -->
            <div class="bottom-footer-area d-flex justify-content-between align-items-center">
                <!-- Contact Info -->
                <div class="contact-info">
                    <a href="#">Reach Us At : </a>
                    <a href="http://www.elixarsystems.com/arscience.html"> kalam-labs@elixarsystems.com</a>
                </div>
                <!-- Follow Us -->
                <!-- <div class="follow-us">
                    <span>Follow us</span>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div> -->
            </div>
        </div>
    </footer>
    </div>
    
<div class="container">
    <div class="carouselMe">
        <section class="best-tutors-area section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h3>The Best Tutors in Town</h3>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-12">
                        <div class="tutors-slide owl-carousel wow fadeInUp" data-wow-delay="250ms">
    
                            <!-- Single Tutors Slide -->
                            <div class="single-tutors-slides">
                                <!-- Tutor Thumbnail -->
                                <div class="tutor-thumbnail">
                                    <img src="{% static "PayApp/img/bg-img/phi.png" %}" alt="">
                                </div>
                                <!-- Tutor Information -->
                                <div class="tutor-information text-center">
                                    <h5>Harshit Awasthi</h5>
                                    <span>Co - Founder</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum laoreet elit, sit amet tincidunt mauris ultrices vitae.</p>
                                    <div class="social-info">
                                        <a href="https://www.linkedin.com/in/harshit016/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <!-- <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
                                    </div>
                                </div>
                            </div>
    
                            <!-- Single Tutors Slide -->
                            <div class="single-tutors-slides">
                                <!-- Tutor Thumbnail -->
                                <div class="tutor-thumbnail">
                                    <img src="{% static "PayApp/img/bg-img/phi.png" %}" alt="">
                                </div>
                                <!-- Tutor Information -->
                                <div class="tutor-information text-center">
                                    <h5>Sashakt Tripathi</h5>
                                    <span>Co - Founder</span>
                                    <p>JEE AIR 560, KVPY Scholar, NTSE Scholar, Only Person in History to score full marks in Resonance Entrance Test.</p>
                                    <div class="social-info">
                                        <a href="https://www.linkedin.com/in/sashakt-tripathi/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <!-- <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
                                    </div>
                                </div>
                            </div>
    
          
                            <!-- Single Tutors Slide -->
                            <div class="single-tutors-slides">
                                <!-- Tutor Thumbnail -->
                                <div class="tutor-thumbnail">
                                    <img src="{% static "PayApp/img/bg-img/phi.png" %}" alt="">
                                </div>
                                <!-- Tutor Information -->
                                <div class="tutor-information text-center">
                                    <h5>Ahmed Faraaz</h5>
                                    <span>Co - Founder</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum laoreet elit, sit amet tincidunt mauris ultrices vitae.</p>
                                    <div class="social-info">
                                        <a href="https://www.linkedin.com/in/ahmad-faraaz/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <!-- <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

        <!-- <div class="marks50">
            50%
        </div> -->
        <!-- <div class="marks50" style="
    top: 2040px;
    left: 843px;
">
            More Marks
        </div> -->
        <!-- <div class=marks50-content>
            In a Scientific Studey Conducted by NCERT, the Students who taughbt with AR, achieved more marks than who
            studied just through Books
        </div> -->
    </div>





    <!-- jQuery-2.2.4 js -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static "PayApp/js/jquery/jquery-2.2.4.min.js" %}"></script>
    <!-- Popper js -->
    <script src="{% static "PayApp/js/bootstrap/popper.min.js" %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static "PayApp/js/bootstrap/bootstrap.min.js" %}"></script>
    <!-- All Plugins js -->
    <script src="{% static "PayApp/js/plugins/plugins.js" %}"></script>
    <!-- Active js -->
    <script src="{% static "PayApp/js/active.js" %}"></script>
</body>

</html>